**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Mm]emoryCaptures/
**/[Mm]emoryProfiler/
**/Logs/
**/UserSettings/

# Arquivos gerados por IDEs (VS Code, Visual Studio, Rider)
.vs/
.idea/
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
